DATABASE_URL=postgresql+asyncpg://postgres:postgres@127.0.0.1:5431/blog_platform
SECRET_KEY=b45b14c3ccffa28bd671fdb2d63816dc953e196c5afbca025e6xc5d836d0a889
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60