# Virtual environment
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Environment variables
.env
.env.*

# Alembic
alembic/versions/*.pyc

# Testing
.pytest_cache/
.coverage
htmlcov/

# Ruff / Mypy
.ruff_cache/
.mypy_cache/

# IDE
.vscode/
.idea/
.qodo/

# macOS
.DS_Store

# Docker
*.log